<div layout="vertical" layout-fill>

  <md-content>
    <!-- <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header> -->

    <section class="jumbotron">
      <h1>'Allo, 'Allo!</h1>
      <p class="lead">
        <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>
      <md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">Splendid Toastr</md-button>
      <p>
        With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
      </p>
    </section>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="module in main.modules | orderBy:'rank'">
        <md-card-content ng-href="{{ module.url }}">
          <md-icon><md-icon class="material-icons">{{module.icon}}</md-icon></md-icon>
          <h3 class="md-title">{{ module.title }}</h3>
          <p>{{ module.description }}</p>
        </md-card-content>
        <div class="md-action-buttons">
          <md-button ng-href="{{ module.url }}">Website</md-button>
        </div>
      </md-card>
    </div>
  </md-content>

</div>
