<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<div>
  <h3>Playlist details</h3>
  <b>Name:</b> <input type="text" ng-model="playlist.name" size='60'><br>
  <b>Description:</b> <input type="text" ng-model="playlist.description" size='60'> <br>
  <b>Schedule:</b> (drag and drop to change order)<br>
    <table style="width:auto;" class="table table-bordered">
        <thead>
            <tr>
                <th>URL</th>
                <th>Type</th>
                <th>Display time</th>
                <th></th>
            </tr>
        </thead>
        <tbody ui-sortable ng-model="playlist.media_schedule">
            <tr ng-repeat="media in playlist.media_schedule track by $index" class="item" style="cursor: move;" ng-include="getTemplate(media)">
                <td>{{media.uri}}</td>
                <td>{{media.type}}</td>
                <td>{{media.time}}</td>
            </tr>
        </tbody>{{list}}
   </table>
</div>
<input type="submit" ng-click="savePlaylist()" value="Save changes" />
<input type="submit" ng-click="addMedia()" value="Add media" />

<script type="text/ng-template" id="display">
  <td>{{media.uri}}</td>
  <td>{{media.type}}</td>
  <td>{{media.time}}</td>
  <td>
      <button ng-click="editMedia(media)">Edit</button>
  </td>
</script>

<script type="text/ng-template" id="edit">
  <td><input type="text" ng-model="selected.uri" /></td>
  <td><select ng-model="selected.type">
    <option>image</option>
    <option>video</option>
    <option>web_page</option>
  </select></td>
  <td><input type="text" ng-model="selected.time"/></td>
  <td>
      <button ng-click="saveMedia($index)">Save</button>
      <button ng-click="reset()">Cancel</button>
  </td>
</script>
<!--script type="text/javascript" src="modules/directives/sortable/src/sortable.js"></script-->
