<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<div>
  <h3>Playlist details</h3>
  <b>Name:</b> <input type="text" ng-model="playlist.name" size='60'><br>
  <b>Description:</b> <input type="text" ng-model="playlist.description" size='60'> <br>
  <b>Schedule:</b> (drag and drop to change order)<br>
    <table style="width:auto;" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>URL</th>
                <th>Type</th>
                <th>Display time</th>
                <th></th>
            </tr>
        </thead>
        <tbody ui-sortable ng-model="playlist.media_schedule">
            <tr ng-repeat="media in playlist.media_schedule track by $index" class="item" style="cursor: move;">
                <td>{{media.name}}</td>
                <td>{{media.description}}</td>
                <td>{{media.uri}}</td>
                <td>{{media.type}}</td>
                <td><input type="text" ng-model="media.time"/></td>
                <td><input type="submit" value="Remove" ng-click="removeMedia(media)"/></td>
            </tr>
        </tbody>{{list}}
   </table>
</div><br>
<div>
  <form>
    Name: <input type="text" ng-model="webPageToAdd.name"/>
    Description: <input type="text" ng-model="webPageToAdd.description"/>
    URL: <input type="text" ng-model="webPageToAdd.uri"/>
    Time: <input type="number" min="1" ng-model="webPageToAdd.time"/>
    <input type="submit" value="Add web page" ng-click="addWebPage(webPageToAdd)" style="width: 20"/>
  </form>
</div>

<div>
  <h3>Available media</h3>
    <table style="width:auto;" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>URL</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody ui-sortable ng-model="allMedia">
            <tr ng-repeat="media in allMedia track by $index" class="item" style="cursor: move;">
                <td>{{media.name}}</td>
                <td>{{media.description}}</td>
                <td>{{media.uri}}</td>
                <td>{{media.type}}</td>
                <td><input type="submit" value="Add to playlist" ng-click="addToPlaylist(media)"/></td>
            </tr>
        </tbody>{{list}}
   </table>
</div><br>

<input type="submit" ng-click="savePlaylist()" value="Save changes" />
