
<div layout-padding>
    <div>
        <h3>Your devices</h3>
        <md-select ng-model="selectedDevice" placeholder="Device">
            <md-option disabled>Device</md-option>
            <md-option ng-repeat="device in devices.deviceMap">{{device.name}}</md-option>
        </md-select>
        <md-select ng-model="selectedPlaylist" placeholder="Playlist">
            <md-option disabled>Playlist</md-option>
            <md-option ng-repeat="playlist in devices.playlistMap">{{playlist.name}}</md-option>
        </md-select>
        <md-button class="md-primary md-raised" ng-click="setDevicePlaylist(selectedDevice, selectedPlaylist)">Set Device Playlist</md-button>
    </div>
    <div style="color:#FF0000">{{devices.errorMessage}}</div>
    <style>
    table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    }
    table tr:nth-child(odd)	{
    background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
    background-color: #ffffff;
    }
    .success-message {
    display: block;
        background: #CCFFCC;
        text-align: center;
    }
    .failure-message {
    display: block;
        background: #FFCCCC;
        text-align: center;
    }
    </style>

    <div>
        <h3>Playlist details</h3>
        <b>Name:</b> {{selectedPlaylist.name}} <br>
        <b>Description: </b> {{selectedPlaylist.description}} <br>
        <b>Confirmed in use by device:</b> {{isConfirmed(selectedPlaylist)}} <input type="submit" value="Refresh" ng-click="refreshConfirmed()"/><br>
        <b>Schedule:</b><br>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>URL</th>
                <th>Type</th>
                <th>Display time</th>
            </tr>
            <tr ng-repeat="media in selectedPlaylist.media_schedule_json track by $index">
                <td>{{media.name}}</td>
                <td>{{media.description}}</td>
            <td>{{ media.url }}</td>
                <td>{{ mediaTypes.labelFor(media.media_type) }}</td>
                <td>{{ media.time }}</td>
            </tr>
        </table>
    </div>
    <div class="success-message" ng-show="notifier.isSuccessVisible()">
            <button type="button" class="close" data-ng-click="notifier.hideSuccess()">×</button> <strong>{{notifier.getSuccessMessage()}}</strong></div>
    </div>
    <div class="failure-message" ng-show="notifier.isFailureVisible()">
            <button type="button" class="close" data-ng-click="notifier.hideFailure()">×</button> <strong>{{notifier.getFailureMessage()}}</strong></div>
    </div>
</div>