
<div layout-padding>
    <form name="devicesForm">
        <h3>{{ 'YOURDEV' | translate }}</h3>

        <md-input-container>
        <select ng-model="selectedDevice" ng-options="device as device.name for (deviceId, device) in devices.deviceMap">
            <option value="" disabled>{{ 'DEVICE' | translate}}</option>
        </select>
        </md-input-container>
        <md-input-container>
        <select ng-model="selectedPlaylist"
         ng-options="playlist as playlist.name for (playlistId, playlist) in devices.playlistMap">
            <option value="" disabled>{{ 'PLAYLIST' | translate }}</option>
        </select>
        </md-input-container>
        <md-button class="md-raised" ng-click="devices.clearSelections()">{{ 'CLEARSELECT' | translate }}</md-button>
        <md-button class="md-primary md-raised" ng-click="setDevicePlaylist(selectedDevice, selectedPlaylist)">{{ 'SETDEVPLAYLIST' | translate }}</md-button>

        <div style="color: #F00">{{devices.errorMessage}}</div>
    </form>
    <div>
        <h3>{{ 'PLAYLISTDETAIL' | translate }}</h3>
        <b>{{ 'NAME' | translate }}:</b> {{selectedPlaylist.name}} <br>
        <b>{{ 'DESCRIPTION' | translate }}: </b> {{selectedPlaylist.description}} <br>
        <b>{{ 'CONFIRMINUSE' | translate }}:</b> {{isConfirmed(selectedPlaylist)}} <input type="submit" value="Refresh" ng-click="refreshConfirmed()"/><br>
        <b>{{ 'SCHEDULE' | translate }}:</b><br>

        <md-table-container>
            <table md-table class="table table-hover table-mc-light-blue">
                <thead md-head>
                    <tr md-row>
                        <th md-column>{{ 'NAME' | translate }}</th>
                        <th md-column>{{ 'DESCRIPTION' | translate }}</th>
                        <th md-column>{{ 'URL' | translate }}</th>
                        <th md-column>{{ 'TYPE' | translate }}</th>
                        <th md-column>{{ 'DISPTIME' | translate }}</th>
                    </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="media in selectedPlaylist.media_schedule_json track by $index">
                    <td md-cell>{{media.name}}</td>
                    <td md-cell>{{media.description}}</td>
                    <td md-cell>{{ media.url }}</td>
                    <td md-cell>{{ mediaTypes.labelFor(media.media_type) }}</td>
                    <td md-cell>{{ media.time }}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
    <div class="success-message" ng-show="notifier.isSuccessVisible()">
            <button type="button" class="close" data-ng-click="notifier.hideSuccess()">×</button> <strong>{{notifier.getSuccessMessage()}}</strong></div>
    </div>
    <div class="failure-message" ng-show="notifier.isFailureVisible()">
            <button type="button" class="close" data-ng-click="notifier.hideFailure()">×</button> <strong>{{notifier.getFailureMessage()}}</strong></div>
    </div>
</div>
