<md-toolbar layout="row" layout-align="center center">

  <section flex layout="row" layout-align="left center">
    <md-button href="#/">
      <md-icon class="material-icons" hide-gt-md>menu</md-icon>
      {{vm.title}}
    </md-button>
    <!-- <md-button href="#/" class="md-raised">Home</md-button>
    <md-button href="#/" class="md-raised">About</md-button>
    <md-button href="#/" class="md-raised">Contact</md-button> -->
  </section>

  <md-button aria-label="Account">
    <md-icon class="material-icons">account_circle</md-icon>
    {{vm.username}}
  </md-button>

</md-toolbar>
