 <md-toolbar ng-show="vm.getLogin()">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          <md-button hide show-gt-md href="#/" hide-lt-md>
            {{vm.title}}
          </md-button>
          <span flex></span>
          <md-button aria-label="Account" href="#/account"/>
            <md-icon class="material-icons">account_circle</md-icon>
            {{vm.getUsername()}}
          </md-button>
        </div>
</md-toolbar>
