

<div id="login-page" layout="column" layout-padding layout-align="center center">
    <h2 class="md-display-3">Login</h2>
    <form novalidate class="simple-form">
        <md-input-container>
            <label>Username</label>
            <input type="text" ng-model="user.username" autofocus/>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="user.password"/>
        </md-input-container>
    	<md-button layout="row" flex style="width: 100%" layout-align="start center" class="md-primary md-raised" ng-click="login.login(user)">Login</md-button>
  	</form>
</div>
