.media-add__droparea {
  //padding: 1px 32px;
  //background-color: #5aadbb;
  text-align: center;

  color: white;

  //h1 {
    //font-size: 3em;
  //}
}
/*
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}*/