<div layout="column" layout-padding>

	<md-card class="media-add__droparea">
		<md-card-title>
			<md-card-header-text>
				<span class="md-title">Add media by dragging and dropping it here</span>
				<br/>
				<span class="md-subhead">or press the "add" button</span>
			</md-card-header-text>
		</md-card-title>

		<input name="the_file" id="media-add__file" type="file" style="display: none;"/>
		
		<div layout="row" layout-sm="column" layout-align="space-around">
    		<md-progress-circular md-mode="indeterminate" ng-if="media.loading"></md-progress-circular>
  		</div>
		
		<md-card-actions>
			<md-button ng-click="media.openFileBrowser()" class="md-fab md-fab-top-right md-primary" aria-label="Add Media">
				<md-icon class="material-icons">add</md-icon>
				<md-tooltip>
					Add Media
				</md-tooltip>
			</md-button>
		</md-card-actions>
	</md-card>

	<h3>Added media</h3>
	<div>
		<div class="row media-added__filter">
			<span>
				<span><label><input type="checkbox" ng-model="visibilities.V"> Show videos</label></span>
				<span><label><input type="checkbox" ng-model="visibilities.I"> Show images</label></span>
        <span><label><input type="checkbox" ng-model="visibilities.W"> Show web pages</label></span>
			</span>
			<span class="media-added__filter-text">
				<span><i></i></span>
				<input ng-model="filterParam" type="text" placeholder="Filter media">
			</span>
		</div>
	</div>
	<div class="media-added__media">
        <md-table-container>
		<table md-table style="width:auto;" class="table table-bordered">
			<thead md-head>
                <tr md-row>
                    <th md-column>Name</th>
                    <th md-column>Description</th>
                    <th md-column>URL</th>
                    <th md-column>Type</th>
                    <th md-column>Actions</th>
                </tr>
			</thead>

			<tbody md-body ng-repeat="media in getVisibleMedia()|filter:filterParam">
                <tr md-row>
                    <td md-cell>{{media.name}}</td>
                    <td md-cell>{{media.description}}</td>
                    <td md-cell>{{media.url}}</td>
                    <td md-cell>{{mediaTypes.labelFor(media.media_type)}}</td>
                    <td md-cell><button ng-click="removeMedia(media)">Remove</button></td>
                </tr>
			</tbody>
		</table>
        </md-table-container>
	</div>

	<div>
		<h3>Add external media</h3>
	  <form>
	    Name: <input type="text" ng-model="externalMedia.name"/><br>
	    Description: <input type="text" ng-model="externalMedia.description"/><br>
	    URL: <input type="text" ng-model="externalMedia.url"/><br>
			Type:
				<select ng-model="externalMedia.media_type">
      		<option ng-repeat="option in mediaTypes.types" value="{{option.fieldName}}">{{option.label}}</option>
    		</select><br>
	    <input type="submit" value="Add media" ng-click="addExternalMedia(externalMedia)" style="width: 20"/>
	  </form>
	</div>
</div>
<div class="success-message" ng-show="notifier.isSuccessVisible()">
        <button type="button" class="close" data-ng-click="notifier.hideSuccess()">×</button> <strong>{{notifier.getSuccessMessage()}}</strong></div>
</div>
<div class="failure-message" ng-show="notifier.isFailureVisible()">
        <button type="button" class="close" data-ng-click="notifier.hideFailure()">×</button> <strong>{{notifier.getFailureMessage()}}</strong></div>
</div>
