<md-content layout="column" layout-padding style="height: 100%">

	<md-card class="media-add__droparea md-accent"
     layout="column" layout-align="center center"
     md-theme="altTheme" class="md-hue-4">
		<md-card-title>
			<md-card-header-text>
				<span class="md-title">Add media by dragging and dropping it here</span>
				<br/>
				<span class="md-subhead">or press the "add" button</span>
			</md-card-header-text>
		</md-card-title>

		<input name="the_file" id="media-add__file" type="file" style="display: none;"/>
		
		<div layout="row" layout-sm="column" layout-align="space-around">
    		<md-progress-circular md-mode="indeterminate" ng-if="media.loading"></md-progress-circular>
  		</div>
		
	</md-card>
    <div layout="column" layout-align="start end">
        <md-button ng-click="media.openFileBrowser()" class="md-fab md-primary" aria-label="Add Media">
            <md-icon class="material-icons">add</md-icon>
            <md-tooltip>
                Add Media
            </md-tooltip>
        </md-button>
    </div>
	<h3>Added media</h3>
	<div>
		<div class="media-added__filter">
			
            <md-checkbox ng-model="visibilities.V"><label>Show videos</label></md-checkbox>
            <md-checkbox ng-model="visibilities.I"><label> Show images</label></md-checkbox>
            <md-checkbox ng-model="visibilities.W"><label> Show web pages</label></md-checkbox>
		</div>
        <div>
            <md-input-container style="width: 100%">
                <span class="media-added__filter-text">
                    <label>Filter media</label>
                    <input ng-model="filterParam" type="text" placeholder="Filter media">
                </span>
            </md-input-container>
		</div>
	</div>
	<div class="media-added__media">
        <md-table-container>
		<table md-table>
			<thead md-head>
                <tr md-row>
                    <th md-column>Name</th>
                    <th md-column>Description</th>
                    <th md-column>URL</th>
                    <th md-column>Type</th>
                    <th md-column>Actions</th>
                </tr>
			</thead>

			<tbody md-body>
                <tr md-row ng-repeat="media in getVisibleMedia()|filter:filterParam">
                    <td md-cell>{{media.name}}</td>
                    <td md-cell>{{media.description}}</td>
                    <td md-cell>{{media.url}}</td>
                    <td md-cell>{{mediaTypes.labelFor(media.media_type)}}</td>
                    <td md-cell>
                        <md-button class="md-warn" ng-click="removeMedia(media)">
                            <md-icon class="md-icons">clear</md-icon>Remove
                        </md-button></td>
                </tr>
			</tbody>
		</table>
        </md-table-container>
	</div>

	<div>
        <h3>Add external media</h3>
        <form layout="column" layout-align="start start">
            <md-input-container>
                <label>Name:</label>
                <input type="text" ng-model="externalMedia.name"/>
            </md-input-container>
            <md-input-container>
                <label>Description:</label>
                <input type="text" ng-model="externalMedia.description"/>
            </md-input-container>
            <md-input-container>
                <label>URL:</label>
                <input type="text" ng-model="externalMedia.url"/>
            </md-input-container>
            <label>Type:</label>
            <md-select ng-model="externalMedia.media_type" flex layout-align="start center">
                <md-option disabled>Select Type</md-option>
                <md-option ng-repeat="option in mediaTypes.types" value="{{option.fieldName}}">{{option.label}}</md-option>
            </md-select>
            <md-button class="md-raised md-primary" type="submit" ng-click="addExternalMedia(externalMedia)">Add media</md-button>
        </form>
	</div>
    <div class="success-message" ng-show="notifier.isSuccessVisible()">
            <button type="button" class="close" data-ng-click="notifier.hideSuccess()">×</button> <strong>{{notifier.getSuccessMessage()}}</strong></div>
    </div>
    <div class="failure-message" ng-show="notifier.isFailureVisible()">
            <button type="button" class="close" data-ng-click="notifier.hideFailure()">×</button> <strong>{{notifier.getFailureMessage()}}</strong></div>
</md-content>
